
Sqlite-Concurrency/bin/

Sqlite-Concurrency/obj/

.idea/

EntityFrameworkCore.Sqlite.Concurrency/obj/

EntityFrameworkCore.Sqlite.Concurrency/bin/

Tests/bin/

Tests/obj/

EFCore.Sqlite.Concurrency.Test/bin/

EFCore.Sqlite.Concurrency.Test/obj/
